---
layout: layouts/caso.njk
pagination:
  data: casosExito_en
  size: 1
  alias: caso
  addAllPagesToCollections: true
eleventyComputed:
  permalink: "{{ '/en/success-cases/' + caso.slug + '/' }}"
  title: "{{ caso.title }}"
  description: "{{ caso.description }}"
  lang: en
  draft: "{{ 'true' if caso.estado != 'publicado' else '' }}"
---
