---
layout: layouts/caso.njk
pagination:
  data: casosExito
  size: 1
  alias: caso
eleventyComputed:
  permalink: "{{ '/en/success-cases/' + caso.slug + '/' }}"
  title: "{{ caso.title }}"
  description: "{{ caso.description }}"
  lang: en
---
