---
layout: layouts/post.njk
pagination:
  data: posts_enPublished
  size: 1
  alias: post
  addAllPagesToCollections: true
eleventyComputed:
  permalink: "{{ '/en/blog/' + post.slug + '/' }}"
  title: "{{ post.title }}"
  description: "{{ post.description }}"
  lang: en
---
