---
layout: layouts/caso.njk
pagination:
  data: casosExito
  size: 1
  alias: caso
  addAllPagesToCollections: true
eleventyComputed:
  permalink: "{{ '/casos-exito/' + caso.slug + '/' }}"
  title: "{{ caso.title }}"
  description: "{{ caso.description }}"
  lang: es
  draft: "{{ 'true' if caso.estado != 'publicado' else '' }}"
---
