<!DOCTYPE html>
<html lang="{{lang}}" itemscope itemtype="https://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include "components/seo.njk" %}
    {% block pageStyles %}{% endblock pageStyles %}
    
</head>
<body itemscope itemtype="https://schema.org/WebPage">
    <header>
        <meta itemprop="name" content="{{ title }}">
        <meta itemprop="description" content="{{ description }}">
        <meta itemprop="url" content="{{ metadata.site.url }}">
    </header>

    {% include "partials/navBar.njk" %}
    
    {% block content %}
    {% endblock content %}

    {% include "partials/footer.njk" %}

    <!-- Schema for LocalBusiness -->
    <div itemscope itemtype="https://schema.org/LocalBusiness" hidden>
        <meta itemprop="name" content="Perito Barcelona">
        <meta itemprop="description" content="Expertos en peritajes técnicos y resolución de conflictos legales en construcción.">
        <meta itemprop="url" content="{{ metadata.site.url }}{{ page.permalink }}">
        <meta itemprop="telephone" content="{{ metadata.contact.phoneNumber }}">
        <meta itemprop="email" content="{{ metadata.contact.email }}">
        <meta itemprop="address" content="C/ Numancia 95, Local 5, 08029 Barcelona, España">
        <meta itemprop="priceRange" content="€€">
        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <meta itemprop="streetAddress" content="C/ Numancia 95, Local 5">
            <meta itemprop="addressLocality" content="Barcelona">
            <meta itemprop="addressRegion" content="Cataluña">
            <meta itemprop="postalCode" content="08029">
            <meta itemprop="addressCountry" content="ES">
        </div>
        <meta itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="41.3850643">
        <meta itemprop="longitude" content="2.136047">
        <meta itemprop="openingHours" content="Mo-Fr 09:00-18:00">
    </div>

    <!-- Schema for Author -->
    <div itemscope itemtype="https://schema.org/Person" hidden>
        <meta itemprop="name" content="Equipo Perito Barcelona">
        <meta itemprop="email" content="{{ metadata.contact.email }}">
        <meta itemprop="telephone" content="{{ metadata.contact.phoneNumber }}">
    </div>

    <!-- Social Media Links -->
    <div itemprop="sameAs" hidden>
        <link href="https://www.facebook.com/peritobarcelona" rel="nofollow">
        <link href="https://www.linkedin.com/company/peritobarcelona" rel="nofollow">
        <link href="https://twitter.com/peritobarcelona" rel="nofollow">
    </div>
    
    {% block scripts %}
    {% include "partials/head.njk" %}
    
        <script>
        if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
        }
        </script>
    {% endblock scripts %}
</body>
</html>
