<!DOCTYPE html>
<html lang="{{lang}}" itemscope itemtype="https://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{description}}">
    {% block pageStyles %}{% endblock pageStyles %}
    {% favicons %}
</head>
<body>
    {% include "partials/navBar.njk" %}
    
    {% block content %}
    {% endblock content %}

    {% include "partials/footer.njk" %}
    
    {% block scripts %}
    {% include "partials/head.njk" %}
    
        <script>
            {% linkPreloader %}
        </script>
    

    {% endblock scripts %}

    
</body>
</html>
