{% extends "layouts/base.njk" %}

{% block content %}
    {# Calcular la fecha del artículo más reciente que aparece en blog-home (solo los 2 primeros publicados) #}
    {% if posts and posts.length > 0 %}
        {% set sortedPosts = posts | sort(attribute='datePublished') | reverse %}
        {% set visiblePosts = [] %}
        {% for post in sortedPosts %}
            {% if visiblePosts.length < 2 and (not post.estado or post.estado == "publicado") %}
                {% set visiblePosts = (visiblePosts.push(post), visiblePosts) %}
            {% endif %}
        {% endfor %}
        {% if visiblePosts.length > 0 %}
            {% set lastUpdateDate = visiblePosts[0].datePublished %}
        {% else %}
            {% set lastUpdateDate = "2024-01-01" %}
        {% endif %}
    {% else %}
        {% set lastUpdateDate = "2024-01-01" %}
    {% endif %}
    
    <main itemscope itemtype="https://schema.org/Article" class="">
        <!-- Schema mejorado para Article -->
        <div hidden>
            <meta itemprop="mainEntityOfPage" content="{{ metadata.site.url }}{{ page.url }}">
            <meta itemprop="headline" content="{{ metadata.site.title }} - {{ metadata.site.description }}">
            <meta itemprop="dateModified" content="{{ lastUpdateDate }}T00:00:00+01:00">
            <meta itemprop="datePublished" content="2023-01-01T00:00:00+01:00">
            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="{{ metadata.site.title }}">
                <meta itemprop="url" content="{{ metadata.site.url }}">
                <meta itemprop="sameAs" content="{{ metadata.company.linkedin }}">
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="{{ metadata.site.url }}/assets/images/logos/logo.png">
                    <meta itemprop="width" content="600">
                    <meta itemprop="height" content="60">
                </div>
            </div>
            <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                <meta itemprop="name" content="{{ metadata.author.name }}">
                <meta itemprop="url" content="{{ metadata.author.linkedin }}">
            </div>
            <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{ metadata.site.url }}/assets/images/hero-home.jpg">
                <meta itemprop="width" content="1200">
                <meta itemprop="height" content="630">
            </div>
        </div>
        {# Hero Section con ajuste preciso para navbar #}
        
            {% include "partials/heroWithImage.njk" %}
        
        
        {# Article Body Content - Ajustado para evitar solapamientos #}
        <article class="article-body relative" itemprop="articleBody">
            {% include "partials/problem-solution-v2.njk" %}
            {% include "partials/solucion-tecnica.njk" %}
            {% include "partials/servicios-home.njk" %}
            {# {% include "partials/casos-exito-home.njk" %}
             #}
            {% include "partials/testimonios-home.njk" %}
            {% include "partials/proceso-home.njk" %}
            {% include "partials/blog-home.njk" %}
        </article>
        
        {# CTA Section #}
        {% include "partials/cta-contacto.njk" %}
    </main>
{% endblock content %}
  
{% block pageStyles %}
  {% css %}
    .article-body {
        margin-top: 0;
        position: relative;
        z-index: 10;
    }
  {% endcss %}
{% endblock pageStyles %}


