{% extends "layouts/base.njk" %}

{% block content %}
    <main itemscope itemtype="https://schema.org/Article">
        {# Hero Section - fuera del articleBody #}
        {% include "partials/heroWithImage.njk" %}
        
        {# Article Body Content #}
        <article class="article-body" itemprop="articleBody">
            {% include "partials/problem-solution-v2.njk" %}
            {% include "partials/solucion-tecnica.njk" %}
            {% include "partials/servicios-home.njk" %}
            
            {# {% include "partials/casos-exito-home.njk" %}
             #}
            {% include "partials/testimonios-home.njk" %}
            {% include "partials/proceso-home.njk" %}
        </article>
        
        {# CTA Section - fuera del articleBody #}
        {% include "partials/cta-contacto.njk" %}
    </main>
{% endblock content %}
  
{% block pageStyles %}
  {% set indexCSS %} {% include "dist/assets/styles/index.css" %} {% endset %}
  
  <style>
    {{ indexCSS | safe }}
  </style>
{% endblock pageStyles %}


