{% extends "layouts/base.njk" %}

{% block content %}
    <main itemscope itemtype="https://schema.org/Article" class="">
        {# Hero Section con ajuste preciso para navbar #}
        
            {% include "partials/heroWithImage.njk" %}
        
        
        {# Article Body Content - Ajustado para evitar solapamientos #}
        <article class="article-body relative" itemprop="articleBody">
            {% include "partials/problem-solution-v2.njk" %}
            {% include "partials/solucion-tecnica.njk" %}
            {% include "partials/servicios-home.njk" %}
            
            {# {% include "partials/casos-exito-home.njk" %}
             #}
            {% include "partials/testimonios-home.njk" %}
            {% include "partials/proceso-home.njk" %}
        </article>
        
        {# CTA Section #}
        {% include "partials/cta-contacto.njk" %}
    </main>
{% endblock content %}
  
{% block pageStyles %}
  {% set indexCSS %} {% include "dist/assets/styles/index.css" %} {% endset %}
  <style>
    {{ indexCSS | safe }}
    .article-body {
        margin-top: 0;
        position: relative;
        z-index: 10;
    }
  </style>
{% endblock pageStyles %}


