<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Perito Barcelona - Informes Periciales de Construcción y Seguros</title>
    
    
    {% set indexcss %} {% include "src/assets/styles/output.css" %} {% endset %}
        <style>
             {{ indexcss | safe }}
        </style>

    
    
    {% favicons %}
</head>

<body>
    
    {% include "partials/navBar.njk" %}
    
    {% include "partials/heroWithImage.njk" %}
    {% include "partials/problem-solution.njk" %}
    {% include "partials/servicios-home.njk" %}
    {% include "partials/testimonios-home.njk" %}
    {% include "partials/proceso-home.njk" %}
    {% include "partials/cta-contacto.njk" %}
    

    {% include "partials/footer.njk" %}
    {% include "partials/head.njk" %}
</body>
</html>