---
permalink: '/service-worker.js'
headers:
  Content-Security-Policy: "default-src 'self' *.cloudflareinsights.com; script-src 'self' 'unsafe-inline' *.cloudflareinsights.com; img-src 'self' data: *.cloudflareinsights.com; connect-src 'self' *.cloudflareinsights.com"
  Referrer-Policy: strict-origin-when-cross-origin
---
const VERSION = '{{ global.random() }}';
{% include "partials/global/service-worker.js" %}