---
pagination:
  data: casosExito_en
  size: 1
  alias: caso
  addAllPagesToCollections: true
permalink: "/en/success-cases/{{ caso.slug }}/"
layout: "layouts/success-case.njk"
lang: en
eleventyNavigation:
  notshow: true
eleventyComputed:
  title: "{{ caso.title | safe }}"
  description: "{{ caso.description }}"
  datePublished: "{{ caso.datePublished }}"
  dateModified: "{{ caso.dateModified }}"
---
{# 
Variables
#}
{% set title = caso.title %}
{% set translations = caso.translations %}
{% set description = caso.description %}
{% set datePublished = caso.datePublished %}
{% set dateModified = caso.dateModified %}
{% set tags = caso.tags %}
{% set summary = caso.summary %}
{% set image = caso.image %}
{% set images = caso.images %}
{% set relatedService = caso.relatedService %}

{{ caso.content | markdown | safe }}
