---
layout: layouts/caso.njk
pagination:
  data: casosExito
  size: 1
  alias: caso
eleventyComputed:
  permalink: "{{ '/ca/casos-d-exit/' + caso.slug + '/' }}"
  title: "{{ caso.title }}"
  description: "{{ caso.description }}"
  lang: ca
---
