---
layout: layouts/caso.njk
pagination:
  data: casosExito_ca
  size: 1
  alias: caso
  addAllPagesToCollections: true
eleventyComputed:
  permalink: "{{ '/ca/casos-d-exit/' + caso.slug + '/' }}"
  title: "{{ caso.title }}"
  description: "{{ caso.description }}"
  lang: ca
  draft: "{{ 'true' if caso.estado != 'publicado' else '' }}"
---
